<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white p-3">{{ getName() }}'s Todo List</h3>
      <div class="input-group mb-3">
        <input
          #textItem
          type="text"
          class="form-control"
          (keyup.enter)="addItem(textItem.value);textItem.value=''"
       
        />
           <!-- (blur)="addItem(textItem.value)" eklenebilir input dışınaa tıklayınca ekleme yapar-->
        <button
          class="btn btn-outline-primary"
          (click)="addItem(textItem.value); textItem.value = ''"
        >
          Add
        </button>
      </div>
      <div class="form-check mb-3">
        <input
          type="checkbox"
          class="form-check-input mb-3"
          name=""
          id="displayAll"
        />
        <label for="displayAll" class="form-label-check">Hepsini Göster</label>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getItems(); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.action }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
